.topnav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbarItem {
    color: white;
    font-size: 20px;
    margin: 15px 10px;
}

.logoutButton {
    display: flex;
    flex-direction: row;
    transition: 0.25s;
    margin-right: 15px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.logoutButton:hover {
    background: rgba(255, 255, 255, 0.25);
}

.logoutText {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.contactListTopDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addButton {
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.25s;
}

.addButton:hover {
    background: rgba(255, 255, 255, 0.25);
}

.regularCursor {
    cursor: default;
}

@media (min-width: 1000px) {
    .contactListBody {
        margin: 30px 20%;
    }
}
@media (max-width: 999px) {
    .contactListBody {
        margin: 30px;
    }
}

.contactSearchInput {
    border: 0;
    outline: none;
    width: 100%;
    font-size: 20px;
    border-radius: 25px;
    padding: 5px 15px;
    border: 2px solid black;
    transition: 0.25s;
}

.contactSearchInput:focus {
    border: 2px solid #34b1eb;
    box-shadow: 0 0 25px -5px #34b1eb;
}


#cancel:hover {
    cursor: pointer;
}