.card {
    display: flex;
    flex-direction: column;
    background: #3a3f44;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.cardHeader {
    display: flex;
    flex-direction: row;
    background: #5b6066;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.65);
}

.cardHeaderText {
    color: white;
    padding: 0px 20px;
    font-size: 25px;
    margin: 10px 0;
    overflow-wrap: break-word;
}

.cardBody {
    padding: 0px 20px;
    overflow-wrap: break-word;
    color: white
}

.cardBodyText {
    font-size: '16px',
}