.card {
    display: flex;
    flex-direction: column;
    background: #3a3f44;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.cardHeader {
    display: flex;
    flex-direction: row;
    background: #5b6066;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.65);
}

.buttonsDiv {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    height: fit-content;
    margin-top: 10px;
}

.contactName {
    color: white;
    padding-left: 20px;
    font-size: 25px;
    margin: 10px 0;
    overflow-wrap: break-word;
    max-width: 50%;
}

.editButton {
    background: rbga(0,0,0,0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.25s;
}

.editButton:hover {
    background: rgba(255,255,255,0.25);
}

.deleteButton {
    background: rbga(0,0,0,0);
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.25s;
}

.deleteButton:hover {
    background: rgba(255,255,255,0.25);
}

.cardBody {
    padding: 0px 20px;
    overflow-wrap: break-word;
    color: white
}

.phoneInfo {

}